
<header class="masthead text-white text-center">
  <div class="container-fluid ">
    <div class="row  justify-content-center">
      <div class="col-md-3 mt-5">
        <img class="bandp" src="./assets/images/bulbi.png" width = "150" alt="bulbi image">
      </div>
      <div class="col-md-3">

        <div class="dives">
          <h2 class="titres" >Select a type of pokemon</h2>

          <a routerLink="/pokemon/{{(id+1)}}" *ngFor="let type of types.slice(0, types.length-2); let id = index">
            <span id="type2" class="badge m-3"> {{type.name}}</span>
          </a>
        </div>
      </div>
      <div class="col-md-3 mb-5">
        <img class="bandp" src="./assets/images/pika.png" width = "150" alt="bulbi image">
      </div>
    </div>
  </div>
</header>



