<div width="40%">
  <h4> Your Pocket Monster : {{poke.name}}</h4>

  <label>Please choose the move you want to try :
    <select>
      <option (select)="selectMove(move)" *ngFor="let move of moves">{{move.name}}</option>
    </select>
  </label>

  <input [(ngModel)]="poke_level"     placeholder="Level...">
  <input [(ngModel)]="att"     placeholder="Attack...">
  <input [(ngModel)]="att_spe" placeholder="Special Attack...">


</div>
<div width="40%">
  <h4> Adversary : {{def.name}}</h4>

  <label>Please choose the pokemon you want to attack :
    <select>
      <option (select)="selectDef(poke_def)" *ngFor="let poke_def of pokemons">{{poke_def.name}}</option>
    </select>
  </label>

  <input [(ngModel)]="def_level"     placeholder="Level...">

</div>
