<!--The content below is only a placeholder and can be replaced.-->

<!-- Navigation -->
<nav class="navbar static-top">
    <a class="ml-5" href="#"><img width="350" alt="Pokemon Logo" src="./assets/images/pokeversus2.png"></a>

</nav>

<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container-fluid mt-5">
    <div class="row  justify-content-center">
      <div class="col-md-3 mt-5">
        <img src="./assets/images/bulbi.png" width = "150" alt="bulbi image">
      </div>
      <div class="col-md-3">

        <form>
          <div class="form-row mt-5 pt-5">
            <div class="col-12 col-md-9 mb-2 mb-md-0 mt-5">
              <input  class="form-control form-control-lg" placeholder="your pokemon's name">
            </div>
            <div class="col-12 col-md-3 mt-5">
              <button id="gp" type="submit" class="btn btn-block btn-lg btn-primary">GO</button>
            </div>
          </div>

        </form>
      </div>
      <div class="col-md-3 mb-5">
        <img src="./assets/images/pika.png" width = "150" alt="bulbi image">
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>


